.navbar {
	color: #c2242a;
	box-shadow: 0px 2px 10px #888;
}

.navbar-default .navbar-brand, .navbar-default .navbar-nav>li>a {
	color: #c2242a;
	font-size: 20px;
	

}

.logo {
	float: left;
	height: 100px;
	padding: 15px;		
}

.navbar-form {
	
}

.container-fluid{
	background-color: #c2242a;
	height: 20px;
}

.navbar-form{
}

.nav.fixed{
  transition-property: margin-top,margin-right;
  transition-duration: .5s,.1s;
  transition-delay: 0;
  transition-timing-function: cubic-bezier(0.22,0.99,0.62,1);
  -moz-transition-property: margin-top,margin-right;
  -moz-transition-duration: .5s,.1s;
  -moz-transition-delay: 0;
  -moz-transition-timing-function: cubic-bezier(0.22,0.99,0.62,1);
  -o-transition-property: margin-top,margin-right;
  -o-transition-duration: .5s,.1s;
  -o-transition-delay: 0;
  -o-transition-timing-function: cubic-bezier(0.22,0.99,0.62,1);
  -ms-transition-property: margin-top,margin-right;
  -ms-transition-duration: .5s,.1s;
  -ms-transition-delay: 0;
  -ms-transition-timing-function: cubic-bezier(0.22,0.99,0.62,1);
  -webkit-transition-property: margin-top,margin-right;
  -webkit-transition-duration: .5s,.1s;
  -webkit-transition-delay: 0;
  -webkit-transition-timing-function: cubic-bezier(0.22,0.99,0.62,1);
 
  position: fixed;
  top:0;
  z-index:1000;
}